<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avisos</title>
    <STyle>
       *{
        margin: 0;
       }

        #tabla {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
 
}

#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  position: sticky;
  top: 0;
  border-top: none;
  
}

</style>



  </head>
  <body >
    <a href="/"><BUTton>VOLVER</BUTton></a>
    <section >
    <table id="tabla" >
      <thead>
      <tr class="header-tabla" >
        <th>LEGAJO</th>
        <th>ULTIMO AVISO</th>
        <th>ADUANA</th>
        <th>LOCALIDAD</th>
        <th>DIRECCION</th>
        <th>PROXIMO AIVSO</th>
        <TH>ESTADO</TH>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <% permisos.forEach(permiso => { %>
        <tr>
            <td><%- permiso.permiso %></td>
            <td><%- permiso.ultimoAviso %></td>
            <td><%- permiso.aduana %></td>
            <td><%- permiso.localidad %></td>
            <td><%- permiso.direccion %></td>
            <td><%- permiso.proximoAviso %></td>
            <td><%- permiso.estado %></td>
            
            <td><form onsubmit="return confirm('SEGURO QUE QUIERES ACTIVAR <%= permiso.permiso %>');" action="/activar/<%= permiso.permiso %>"method="post">
              <button type="submit">RE-ACTIVAR</button></form></td>
          </tr>
      <% }) %>
    </tbody>
    </table>

  </section>


  </body>
</html>