<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
 <body class="flex-body">  
    <%- include('./partials/nav') %>
   <main>
    
    <form class="form-nuevo" action="/editar/<%= permiso.id %>" method="post">
    <label for="permiso">PERMISO</label>
    <input type="text" name="permiso" id="permiso" value="<%= permiso.permiso %>"/>
    <label for="localidad">LOCALIDAD</label>
    <input type="text" name="localidad" id="localidad" value="<%= permiso.localidad %>"/>
    <label for="direccion">DIRECCION</label>
    <input type="text" name="direccion" id="direccion" value="<%= permiso.direccion %>"/>
    <label for="proximoAviso">PROXIMO AVISO</label>
    <input type="datetime-local" name="proximoAviso" id="proximoAviso" value="<% if (permiso.proximoAviso instanceof Date && !isNaN(permiso.proximoAviso.valueOf())) { %>
      <%= permiso.proximoAviso.toISOString().slice(0, 16) %>
    <% } %>"/>
    <button type="submit">EDITAR</button>
  </form>
</main>
  </body>
</html>