<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avisos</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body >
    <a href="/"><BUTton>VOLVER</BUTton></a>
    <form class="form-nuevo" action="/editar/<%= permiso.id %>" method="post">
    <label for="permiso">PERMISO</label>
    <input type="text" name="permiso" id="permiso" value="<%= permiso.permiso %>"/>
    <label for="aduana">ADUANA</label>
    <input type="number" name="aduana" id="aduana" value="<%= permiso.aduana %>"/>
    <label for="localidad">LOCALIDAD</label>
    <input type="text" name="localidad" id="localidad" value="<%= permiso.localidad %>"/>
    <label for="direccion">DIRECCION</label>
    <input type="text" name="direccion" id="direccion" value="<%= permiso.direccion %>"/>
    <label for="proximoAviso">PROXIMO AVISO</label>
    <input type="datetime-local" name="proximoAviso" id="proximoAviso" value="<%= permiso.proximoAviso %>"/>
    <button type="submit">EDITAR</button>
  </form>
  </body>
</html>