<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body class="flex-body">
 
    <%- include('./partials/nav') %>
  <main>
    <table id="tabla">
      <tr>
        <th>LEGAJO</th>
        <th>ULTIMO AVISO</th>
        <th>LOCALIDAD</th>
        <th>DIRECCION</th>
        <th>PROXIMO AVISO</th>
        <TH>ESTADO</TH>
        <th>ACCIONES</th>
      </tr>
      <% permisos.forEach(permiso=> { %>
        <tr>
          <td><%- permiso.permiso %></td>
          <td>
            <%= permiso.ultimoAviso&&permiso.ultimoAviso.toLocaleString() %>
          </td>

          <td><%- permiso.localidad %></td>
          <td><%- permiso.direccion %></td>
          <td>
            <%= permiso.proximoAviso.toLocaleString() %>
          </td>
          <td class="status-icon">
            <% if (permiso.estado==='ok') { %>
             <img src="./img/checkOk.svg" alt="ok">
             <% } else if (permiso.estado==='error') { %>
              <img src="./img/checkErro.svg" alt="error">
              <% } else { %>
                <img class="processing" src="./img/processing.svg" alt="pending">
            <% } %>
         
          <td>
          
            <form onsubmit="return confirm('SEGURO QUE QUIERES BORRAR EL PERMISO <%= permiso.permiso %>');"
              action="/eliminar/<%= permiso.id %>" method="post" id="delete-file">

              <button class="noselect btn-action btn-delete"><span class="text">Eliminar</span><span class="icon"><img src="./img/delete.svg" alt=""></span></button>
            </form>
            <a href="/editar/<%= permiso.id %>" class="btn-edit-a">
              <button class="noselect btn-action btn-edit"><span class="text">Editar</span><span
                  class="icon"><img src="./img/pencil.svg" alt=""></span></button></a>
          </td>
        </tr>
        <% }) %>
    </table>
  </main>
  <div id="spinner">
    <div class="square-10"></div>
  </div>
  <div class="active-error">
    <img src="/img/warning.svg" alt="">
  </div>
  <script src="/js/index.js"></script>
</body>

</html>